body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    background-color: #1f2937;
    height: 450px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

li {
    color: white;
    list-style-type: none;
}

.logo{
    max-width: 200px;
    height: auto;
}

.topimage{
    max-width: 400px;
    height: auto;
}
